


body {
    background-image: url(/img/pokemon.jpg);
    font-family: 'Roboto', sans-serif;
    font-family: Arial;
    font-size: 16px;
    margin: 0;
}

.title {
   text-align: center; 
   padding: 16px;
}

.lista-pokemon {
    display: grid;
    grid-template-columns: 1fr 100px 1fr;

    max-width: 800px;
    margin: auto;
}


.pokemon {
    border: 1px solid #333;
    padding: 10px;

    background: #D4E157;
    text-align: center;
}

.button {
    background-color: #2196F3; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 16px;
    font-size: 16px;
    cursor: pointer;

}

.button:hover {
    background-color: #1565C0; /* Green */
    

}




.vs {
    color: darkblue;
    text-align: center;
    margin: auto;
    font-size: 40px;
}

img {
    width: 100%;
}


.card text-center{
    min-height: 100%;
    position: relative;
}